<mat-toolbar >
  <mat-toolbar-row>
    <span>Sandbox</span>
    <span class="header-spacer"></span>
    <div class="nav-link-wrap"
        fxLayout="row"
        fxLayoutAlign="space-around center"
        fxLayoutGap="2em"
        fxLayoutGap.lt-md="0.8em">
          <a class="nav-link nav-text" 
            routerLink="" 
            routerLinkActive="active" 
            fxLayout 
            fxLayoutAlign="center">
              Calendar
          </a>
    </div>
    <span class="header-spacer"></span>
    <span class="header-actions"
        fxLayout="row"
        fxLayoutAlign="center center"
        fxLayoutGap="1em"
        fxLayoutGap.lt-lg="0.6em"
        fxLayoutGap.xs="0em">
          <ng-container *ngIf="currentUser">
            <div class="vertical-line"></div>
            <button mat-button (click)="logout()" id="login">
              <mat-icon fxHide.gt-sm >input</mat-icon>
              <span fxHide.xs fxHide.sm>Logout</span>
            </button>
          </ng-container>
          <ng-container *showAuthed="false">
            <div class="vertical-line"></div>
            <button mat-button (click)="login()" id="login">
              <mat-icon fxHide.gt-sm >input</mat-icon>
              <span fxHide.xs fxHide.sm>Login/Register</span>
            </button>
          </ng-container>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<router-outlet></router-outlet>
